[Unit]
Description=Portfolio
After=network.target

[Service]
WorkingDirectory=/home/deploy/portfolio/
ExecStart=bun production/build/index.js
User=deploy
Group=deploy
Restart=on-failure
RestartSec=10
ProtectSystem=full
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
