[Unit]
Description=Portfolio
After=network.target

[service]
WorkingDirectory=/home/deploy/production/
ExecStart=home/deploy/.bun/bin/bun /home/deploy/production/build/index.js
User=deploy
Group=deploy
Restart=on-failure
RestartSec=10
ProtectSystem=full
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
