@import "tailwindcss";

:root {
    --color-background: hsl(0 0% 100%);
    --color-foreground: hsl(222.2 84% 4.9%);

    --color-muted: hsl(210 40% 96.1%);
    --color-muted-foreground: hsl(215.4 16.3% 46.9%);

    --color-popover: hsl(0 0% 100%);
    --color-popover-foreground: hsl(222.2 84% 4.9%);

    --color-card: hsl(0 0% 100%);
    --color-card-foreground: hsl(222.2 84% 4.9%);

    --color-border: hsl(214.3 31.8% 91.4%);
    --color-input: hsl(214.3 31.8% 91.4%);

    --color-primary: hsl(222.2 47.4% 11.2%);
    --color-primary-foreground: hsl(210 40% 98%);

    --color-secondary: hsl(210 40% 96.1%);
    --color-secondary-foreground: hsl(222.2 47.4% 11.2%);

    --color-accent: hsl(210 40% 96.1%);
    --color-accent-foreground: hsl(222.2 47.4% 11.2%);

    --color-destructive: hsl(0 72.2% 50.6%);
    --color-destructive-foreground: hsl(210 40% 98%);

    --color-ring: hsl(222.2 84% 4.9%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --ring: 212.7 26.8% 83.9%;
    }
}

@theme {
    --color-background: var(--color-background);
    --color-foreground: var(--color-foreground);

    --color-muted: var(--color-muted);
    --color-muted-foreground: var(--color-muted-foreground);

    --color-popover: var(--color-popover);
    --color-popover-foreground: var(--color-popover-foreground);

    --color-card: var(--color-card);
    --color-card-foreground: var(--color-card-foreground);

    --color-border: var(--color-border);
    --color-input: var(--color-input);

    --color-primary: var(--color-primary);
    --color-primary-foreground: var(--color-primary-foreground);

    --color-secondary: var(--color-secondary);
    --color-secondary-foreground: var(--color-secondary-foreground);

    --color-accent: var(--color-accent);
    --color-accent-foreground: var(--color-accent-foreground);

    --color-destructive: var(--color-destructive);
    --color-destructive-foreground: var(--color-destructive-foreground);

    --color-ring: var(--color-ring);

    --spacing-radius: 0.5rem;
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
