@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

:root {
	--background: #f7faff;
	--foreground: #cecece;

	--muted: hsl(210 40% 96.1%);
	--muted-foreground: hsl(215.4 16.3% 46.9%);

	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(222.2 84% 4.9%);

	--card: hsl(0 0% 100%);
	--card-foreground: hsl(222.2 84% 4.9%);

	--border: hsl(214.3 31.8% 91.4%);
	--input: hsl(214.3 31.8% 91.4%);

	--primary: hsl(222.2 47.4% 11.2%);
	--primary-foreground: hsl(210 40% 98%);

	--secondary: hsl(210 40% 96.1%);
	--secondary-foreground: hsl(222.2 47.4% 11.2%);

	--accent: hsl(210 40% 96.1%);
	--accent-foreground: hsl(222.2 47.4% 11.2%);

	--destructive: hsl(0 72.2% 50.6%);
	--destructive-foreground: hsl(210 40% 98%);

	--ring: hsl(222.2 84% 4.9%);

	--heading: #16181b;
	--bq: #6f6f6f;
	--p: #424446;
	--h: #24272c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #16181b;
		--foreground: #424446;

		--muted: hsl(217.2 32.6% 17.5%);
		--muted-foreground: hsl(215 20.2% 65.1%);

		--popover: hsl(222.2 84% 4.9%);
		--popover-foreground: hsl(210 40% 98%);

		--card: hsl(222.2 84% 4.9%);
		--card-foreground: hsl(210 40% 98%);

		--border: hsl(217.2 32.6% 17.5%);
		--input: hsl(217.2 32.6% 17.5%);

		--primary: hsl(210 40% 98%);
		--primary-foreground: hsl(222.2 47.4% 11.2%);

		--secondary: hsl(217.2 32.6% 17.5%);
		--secondary-foreground: hsl(210 40% 98%);

		--accent: hsl(217.2 32.6% 17.5%);
		--accent-foreground: hsl(210 40% 98%);

		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: hsl(210 40% 98%);

		--ring: hsl(212.7 26.8% 83.9%);

		--heading: #f7f7f7;
		--bq: #6f6f6f;
		--p: #cecece;
		--h: #e6e6e6;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-border: var(--border);
	--color-input: var(--input);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-ring: var(--ring);

	--spacing-radius: 0.5rem;

	--color-heading: var(--heading);
	--color-bq: var(--bq);
	--color-p: var(--p);
	--color-h: var(--h);
}

@layer base {
	* {
		@apply border-border;
		font-family: 'Inter', sans-serif;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	header {
		@apply text-4xl font-bold text-heading;
	}

	h1 {
		@apply text-3xl font-bold text-h;
	}

	h2 {
		@apply text-2xl font-bold text-h;
	}

	h3 {
		@apply text-lg font-semibold text-h mt-10;
	}

	p {
		@apply text-sm font-normal text-p my-2.5;
	}

	ol {
		list-style-type: decimal;
		list-style-position: inside;
		@apply text-sm font-normal text-p;
	}

	ol li,
	ul li {
		text-indent: -2ch;
		padding-left: 2ch;
	}

	blockquote {
		@apply text-sm font-normal text-bq **:text-bq italic relative pl-5 py-2.5;
	}

	blockquote::before {
		content: '“';
		@apply absolute top-2.5 left-0 text-xl font-bold text-orange-400;
	}

	code {
		@apply text-xs text-neutral-500 bg-neutral-200 dark:bg-neutral-800 rounded-md px-1 py-0.5 not-italic break-keep inline-block;
    text-wrap: wrap;
    max-width: calc(100vw - 50px);
	}

	a {
		@apply text-p underline-offset-4 inline-block dark:decoration-blue-300 decoration-blue-500 decoration-1 decoration-wavy underline;

    &:is(h1 > a, h2> a, h3> a, h4> a, h5> a) {
      @apply no-underline hover:underline
    }
	}

	[data-bold] {
		font-weight: bold;
	}

	[data-style='block'] {
		@apply p-2.5 block my-2.5;
	}

  landing {
    @apply h-[75vh] flex items-center justify-center flex-col **:w-full ; 
  }

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}
