header {
  @apply text-4xl font-bold text-heading;
}

h1 {
  @apply text-3xl font-bold text-h;
}

h2 {
  @apply text-2xl font-bold text-h;
}

h3 {
  @apply text-lg font-semibold text-h;
}

p {
  @apply text-sm font-normal text-p;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  @apply text-sm font-normal text-p;
}

ol li,
ul li {
  text-indent: -2ch;
  padding-left: 2ch;
}

backquote {
  @apply text-sm font-normal text-bq italic relative pl-5;
}

backquote::before {
  content: '“';
  @apply absolute top-0 left-0 text-xl font-bold text-orange-400;
}

code {
  @apply text-xs text-neutral-500 bg-neutral-200 dark:bg-neutral-800 rounded-md px-1 py-0.5 not-italic break-keep inline-block;
}

a {
  @apply text-blue-500 dark:text-blue-300 underline-offset-4 hover:underline inline-block;
}

[data-bold] {
  font-weight: bold;
}

[data-style='block'] {
  @apply p-2.5 block my-2.5;
}
