name: Deploy portfolio
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    name: setup, build and deploy
    runs-on: ubuntu-latest
    env:
      HOST: ${{ secrets.HOST }}
      USERNAME: ${{ secrets.USERNAME }}
      DEPLOY_KEY: ${{ secrets.DEPLOY_USER_SSH_KEY }}
      RELEASE_DIR: ${{ secrets.SITE_DIR }}/production

    steps:
      - name: pulling repo.
        uses: actions/checkout@v4

      - name: setting up bun.
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: installing dependencies.
        run: bun install

      - name: build
        run: |
          bun run build

      - uses: webfactory/ssh-agent@v0.9.0
        with: 
          ssh-private-key: ${{ secrets.DEPLOY_USER_SSH_KEY }}

      - name: Adding server to known host
        run: | 
          mkdir -p ~/.ssh
          ls ~/.ssh
          ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: Copying the files to the server using rsync.
        run: |
          echo "Creating Release dir, $RELEASE_DIR"

          rsync \
           -avz \
           --delete \
           --rsync-path="mkdir -p $RELEASE_DIR && rsync -q" \
           build/ $USERNAME@$HOST:$RELEASE_DIR
